.contenedorItem {
    text-align: center;
    border: 1px solid #e3e1e1;
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedorItem img {
    width: 100%;
    max-width: 50vw;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.itemContainer h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.itemContainer p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.itemContainer a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #de0a5a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.itemContainer a:hover {
    background-color: #ff0037;
}